<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ELPeterson</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button mat-button class="nav-link" color="primary" [routerLink]="['/about']" routerLinkActive="router-link-active">About Me</button>
      </li>
      <li class="nav-item">
        <button mat-button class="nav-link" color="primary" [routerLink]="['/resume']" routerLinkActive="router-link-active">R&eacute;sum&eacute;</button>
      </li>
      <li class="nav-item">
        <button mat-button class="nav-link" color="primary" [routerLink]="['/computers']" routerLinkActive="router-link-active">Computers</button>
      </li>
      <li class="nav-item">
        <button mat-button class="nav-link" color="primary" [routerLink]="['/keyboards']" routerLinkActive="router-link-active">Keyboards</button>
      </li>
      <li class="nav-item">
        <button mat-button class="nav-link" color="primary" [routerLink]="['/code']" routerLinkActive="router-link-active">Code</button>
      </li>
    </ul>
  </div>
</nav>
